<%= javascript_include_tag "subtask/card.js" %>
<%= stylesheet_link_tag "subtask/card.css" %>

<div id="card" title="">
  <div id="sddaysArea">
    <input id="sday"></input>
    <span>-</span>
    <input id="dday"></input>
  </div>
  <div id="discription">
    <textarea></textarea>
  </div>
  <div id="memArea">
    <div id="memInfo">
      <p>member:</p>
      <div id="addMemButton">
        <span>+</span>
      </div>
    </div>
    <div id="mems">
    </div>
  </div>
  <div id="commentArea">
    <p>comment:<p>
    <textarea row=3></textarea>
    <div id="comments">
      <div class="comment">
      </div>
    </div>
  </div>
</div>
