<%= javascript_include_tag "subtask/card.js" %>
<%= stylesheet_link_tag "subtask/card.css" %>

<script>
  $.ajax({
    type: 'POST',
    url: '/subtask/query',
    data: {"id": <%= @id %>},
    error: function(response) {
      console.log(response);
      alert("err");
    },
    success: function(response) {
      console.log(response);
      $("#card").attr("title", response.subtask.name);
      $("#card").attr("subid", response.subtask.id);
      $("#sday").val(response.subtask.sday);
      $("#dday").val(response.subtask.dday);
      $("#discription textarea").val(response.subtask.description);
      for (var i = 0; i < response.comment.length; ++i) {
        var tmp = response.comment[i];
        addComment(tmp.msg, tmp.uid, tmp.img);
      }
      for (var i = 0; i < response.user.length; ++i) {
        var tmp = response.user[i];
        addUserList(tmp.id, tmp.img);
      }
      for (var i = 0; i < response.mem.length; ++i) {
        var tmp = response.mem[i];
        addMem(tmp.id, tmp.img);
      }
      prepareEnd();
    }
  });

</script>

<div id="card" dirty=0>
  <div id="sddaysArea">
    <input id="sday"></input>
    <span>-</span>
    <input id="dday"></input>
  </div>
  <div id="discription">
    <textarea row=3 col=37 weap='hard'></textarea>
  </div>
  <div id="memArea">
    <div id="linecontain">
      <div id="memInfo">
        <div id="addMemButton">
          <span id="plus">+</span><span>member</span>
        </div>
        <!-- <p>member</p> -->
        <div id="userList">
        </div>
      </div>
    </div>
    <div id="mems">
    </div>
  </div>
  <div id="commentArea">
    <div id="linecontain">
    <p id="comtext">comment:<p>
    </div>
    <textarea row=3 col=37 wrap='hard'></textarea>
    <div id="commentcontain"></div>
    <div id="comments">
    </div>
  </div>
</div>
