
<!-- js -->
<%= javascript_include_tag 'jquery-task5' %>
<!--	<script type="text/javascript" src="public/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="public/js/jquery-ui-1.8.19.custom.min.js"></script>
	<script type="text/javascript" src="public/javascripts/jquery-task5.js"></script>
-->

<!-- css -->
<%= stylesheet_link_tag 'taskmode3'%>
<!--	<link type="text/css" rel="stylesheet" href="public/css/reset.css">
    <link type="text/css" rel="stylesheet" href="public/css/custom-theme/jquery-ui-1.8.19.custom.css">
    <link type="text/css" rel="stylesheet" href="public/stylesheets/taskmode3.css">	  
--> 
<script>
var imgfortask = "<%= @pic %>";
</script>
  <div id = "placeholder">	 
	
    <ul id="line1" class="connectedlist main">
       <button id="addButton">Add Task</button>	
    </ul>		
	
  </div>  
