<%= javascript_include_tag "home/index" %>
<%= stylesheet_link_tag "home/index" %>
<div id="topMask" class="decorate outer"></div>
<div id="bottomMask" class="decorate outer"></div>
<div id="main" class="indexPanel">
  <div id="content" class="decorate"></div>
  <div id="mask" class="decorate"></div>
  <div id="triangle" class="decorate hide"></div>
  <div id="modeBar" class="indexPanel bar">
    <div id="logButton" class="toggleButton unlogin">
      <a>Login</a>
      <div id="headImg"></div>
      <div id="functionTag" class="hide">
        <div id="tagTriangle"></div>
        <div id="logFunctionTag">
          <span id="homeButton">Home</span>
          <span id="inviteButton">Invite</span>
        </div>
        <div id="unlogFunctionTag">
          <div id="fbButton"></div>
          <div id="gButton"></div>
        </div>
      </div>
    </div>
    <div id="taskButton"  class="toggleButton">
      <a>Task</a>
    </div>
    <div id="userButton"  class="toggleButton">
      <a>User</a>
    </div>
    <div id="projectName">
      <span>Test</span>
    </div>
  </div>
  <div id="middleBar" class="indexPanel"></div>
  <div id="helpBar" class="indexPanel bar">
    <div id="contactButton" class="toggleButton">
      <a></a>
    </div>
    <div id="helpButton" class="toggleButton">
      <a></a>
    </div>
  </div>
</div>
