
<%= stylesheet_link_tag 'help' %>
<%= javascript_include_tag 'help' %>

<div id="helpage">
	<div><h1>What's ProjecType?</h1></div>
	<div>
		<p> project structure </p>
			<h2>(project structure)</h2>
		<div id="feature">
			<h2> <span id="PT">ProjecType<span> has following feature:</h2>
				<h3> .dependency: subtasks in the task </h3>
				<p> </p>
				<h3> .co-work:it support more persons</h3>
					<p> can assign subtask to every member.			
						方便與你的parner分工每個subtask<p>		
				<h3> .two modes: </h3>
					<p>Usermode: a calendar that user can see </p>
		</div>
	</div>

	<div><h1>How to Use?</h1></div>
	<div>
		<h2>unlogin:</h2>
			<p>You would gat a temporary project and you can add tasks and subtasks. Nevertheless, unlogin doesn't support usermode and card information. Y
			<h4>click into the project<h4>
			<h3>create your tasks</h3>
				<p>there's no dependency between tasks.<p>
			<h4>click to open the tasks<h4>
			<h3>create your subtasks</h3>
				<p>there's dependency between subtou need to <span id="login">login</span> if you want to use the full service.</p>
		<h2>login:</h2>
			<p>Manage your project step by step</p>	
			<h3>create your project</h3>
			<p><p>
			<h4>click into the project<h4>
			<h3>create your tasks</h3>
				<p>there's no dependency between tasks.<p>
			<h4>click to open the tasks<h4>
			<h3>create your subtasks</h3>
				<p>there's dependency between subtasks in the same.<p>
	</div>


	<div><h1>Button Flow Guide</h1></div>
	<div><p>(pic)</p></div>


	<div><h1>About us</h1></div>
	<div>lalala</div>
</div>