#mail p{
	font-size:25px;
	margin: 20px 10px;
}
</style>

<div id='mail' style="margin: 20px 10px;">
<p style="font-size:25px; margin:20px 10px;">hi</p>
<p>your friend <%= @name %> wants to invite you to join his project 
	<span style="color: orange"><%= @proj %> </span>
</p>

<p style="color:#FFCBC9;font-size:20px; margin:20px 10xp;">Notice: to join the project, you need to confirm.</p>

<p style="font-size:25px; margin:30px 10px;">
If you havn't use ProjecType before, 
<a href="<%= @url %>"> Try it!! </a>
</p>

<p style="font-size:25px; margin:30px 10px;">Wish you enjoy it !</p>

</br>
<p style="font-size:20px; margin:10px 200px;">ProjecType team</p>
</div>
