
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.1/build/cssreset/cssreset-min.css"/>
<link href='http://fonts.googleapis.com/css?family=Comfortaa|Oxygen' rel='stylesheet' type='text/css'>

<style>
#mail{
	font-family: 'Comfortaa', sans-serif;
	margin: 20px 10px ;
} 
#mail p{
	font-size:25px;
	margin: 20px 10px;
}
</style>

<div id='mail'>
hi <%= @name %>
<p>your friend <%= %> want to invite you to join his project 
	<span style="color:"><%= %> </span> <%= %>
</p>

<p style="color:#FFCBC9;font-size:20px; ">Notice: to join the project, you need to confirm.</p>

<p style="margin:30px 10px">
If you havn't use ProjecType before, 
<a href="http://projectype.herokuapp.com/home"> Try it!! </a>
</p>

<p style="color:">Wish you enjoy it !</p>

</br>
<p style="font-size:20px; margin:10px 200px;">ProjecType team</p>
</div>
