<div id='mail' style="margin: 20px 10px;">
<p style="font-size:25px; margin:8px 10px;">hi</p>
<p style="font-size:25px; margin:8px 10px;">your friend <%= @name %> wants to invite you to join his project <a href="<%= @url %>" style="color: orange"><%= @proj %></a>
</p>

<p style="color:#C80000;font-size:20px; margin:10px 10px; font-weight: bold;">Notice: to join the project, you need to login.</p>

<p style="font-size:25px; margin:8px 10px;">
If you havn't use ProjecType before, 
<a href="<%= @home %>"> Try it!! </a>
</p>

<p style="font-size:25px; margin:10px 10px;">Wish you enjoy it !</p>
</br>
<p style="font-size:20px; margin:10px 400px;">ProjecType team</p>
</div>
