<%= javascript_include_tag "project/index.js" %>
<%= stylesheet_link_tag "project/index.css" %>
<% if session[:current_user] %>
  <script>
    $(function() {
      $("#pName").append("<%= session[:current_name] %>");
      $("#pHeadImg").css("background", "url(<%= User.find_by_account(session[:current_user])['img'] %>
      <% if session[:current_user][0] == 'f' %>
        ?type=large
      <% else %>
        ?sz=300
      <% end %>
    )");
    });
  </script>
<% end %>

<div id="projectPage">
  <div id="personalData">
    <div id="pHeadImg">
    </div>
    <h4 id="pName"></h4>
  </div>
  <div id="projectData">
    <h4>Projects</h5>
    <hr>
    <p id="addButton">Add</p>
  </div>
</div>
