<%= javascript_include_tag "project/index.js" %>
<%= stylesheet_link_tag "project/index.css" %>
<div id="projectPage">
  <div id="personalData">
    <div id="pHeadImg">
    </div>
    <h4 id="pName">test</h4>
  </div>
  <div id="projectData">
    <h4>Projects</h5>
    <hr>
    <p id="addButton">Add</p>
  </div>
</div>
