<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.1/build/cssreset/cssreset-min.css"/>

<body>
<span class="text">current member</span>
<div class="members"></div>
<span class="text">add new member</span>
<input type="text" name="firstname" /><br/>
<span>invite</span>
</body>
</html>

