$(function() {	//todo: done
		$("#line1").sortable({
			connectWith: ".connectedlist", tolerance: 'pointer'			
		}).disableSelection();		
		var bigbutton; 	    
        var subtaskul;	
		var first = 1;
		var tmp; 
		var input;
		var button;	
		var triangle;
		//document.oncontextmenu=new Function("return false"); 
		var div; 
		var ul;
		var first = 1;
		var second = 1;
		var rename;
		var del;
		var finish;
		var open;
        //load data from database
        //console.log(tmp);
        $.ajax({
			type: 'GET',
			url: '/task/loading',
			//data: {"id": query},
			error: function(response) {
			  console.log(response);
			  alert("err");
			},
			success: function(response) {
              console.log(response)
              var ulnum = 0;  
              for(var i=0;i<response['t'].length;i++){
                  if(response['t'][i].pos_x > ulnum){
                     ulnum = response['t'][i].pos_x;   
                  }
              }                
              var subtasks = new Array(response['s'].length);
              if((ulnum==0)&&(response['t'].length==0)){ } //total new project with no content
              else{
		          for(var i=0;i<=ulnum;i++){ // the last ul will be empty
		             ul = $('<ul class="connectedlist main"></ul>'); 
		             bigbutton = $('<button>Add Task</button>');                   
		             ul.appendTo("#placeholder");
		             bigbutton.appendTo(ul); 
		             var oldposx;
					 var oldposy;
					 ul.sortable({
						connectWith: ".connectedlist", tolerance: 'pointer'			
					 }).disableSelection();  
					 ul.bind( "sortstart", function(event, ui) {                 
		              oldposx = $(ui.item[0]).parent("ul").index();
					  oldposy = $(ui.item[0]).index();                		 
				     });					 
		             ul.bind( "sortstop", function(event, ui) {   
		               console.log("ui",$(ui.item[0]));	                
					   handlesortstop(event, $(ui.item[0]), oldposx, oldposy);				 
				     });		
		          }  
              }
              var ularray = $("#placeholder").children("ul"); 
              console.log("ulnum",ulnum, "ulength", ularray.length);
              for(var i=0;i<response['t'].length;i++){                  
                  for(var j=0;j<=ulnum;j++){                     
		             if(response['t'][i].pos_x==j){ //tasks                                                                       
		                 tmp = $('<li><div><span>' + response['t'][i].name + '</span></div></li>'); 	
		                 triangle = $('<button class="triangle"></button>');
		                 rename = $('<button class="rename"></button>');	
						 del = $('<button class="delete"></button>');
						 finish = $('<button class="finish"></button>');
						 open = $('<button class="open"></button>');
		                 div = $('<div></div>');	
		                 button = $('<button class="sub"></button>');
		                 tmp.appendTo($(ularray[j]));
                         var div2 = $('<div class="group" style="position:absolute; padding:4px; height:auto; width:auto; top:-41px; left:205px;"></div>');	
                         div2.appendTo(tmp.children("div:nth-child(1)")).hide();
		                 triangle.appendTo(tmp.children("div:nth-child(1)")).hide();		
		                 rename.appendTo(div2);	
						 del.appendTo(div2);	
						 finish.appendTo(div2);	
						 open.appendTo(div2); 
		                 div.appendTo(tmp).hide();	
		                 button.appendTo(div);
                         if(response['t'][i].done==true){ //check done or not
                             //tmp.addClass("done");
                             tmp.children("div:nth-child(1)").children("span").addClass("done"); 
		                     tmp.children("div:nth-child(1)").find(".finish").addClass("done"); 	
                         }
                         //add subtask, subtask order by start date?                           			                  
						 for(var k=0; k<response['s'].length; k++){			     
							 if(response['s'][k].task_id==response['t'][i].id){
                                 subtask = $('<li><span>' + response['s'][k].name + '</span></li>')                                   
						         triangle = $('<button class="triangle"></button>');
						         rename = $('<button class="rename"></button>');	
								 del = $('<button class="delete"></button>');
								 finish = $('<button class="finish"></button>');
						         subtask.appendTo(div);
						         triangle.appendTo(subtask).hide();
                                 var div3=$('<div class="subgroup" style="position:absolute; height:auto; padding:3px; width:auto; top:-20px; left:216px;"></div>');	                               
                                 div3.appendTo(subtask).hide()
								 rename.appendTo(div3);
								 del.appendTo(div3);
								 finish.appendTo(div3);  
                                 subtask.attr("num", response['s'][k].id);   
                                 if(response['s'][k].done==true){ //check done or not
                                    subtask.addClass("subdone");
                                    subtask.find(".finish").addClass("subdone");
                                 } 
                                 $.ajax({
									   type: 'POST',
									   url: '/task/subuser',
									   data: {"subid":response['s'][k].id},
									   error: function(response) {
										   console.log(response);
										   alert("err");
									   },
									   success: function(response) {
                                           console.log(response);  
										   console.log("success!");    
                                           var subb = $("[num="+response['s'].id+"]");
                                           console.log(subb);
                                           console.log(response['u'].length);  
                                           div = $('<div class="img"  style="white-space:nowrap; height:auto; right:120px;padding:0px; width:auto; top:4px; background:white; position:absolute;"></div>');
                                           subb.children(".triangle").before(div);  
                                           div.hide(); 
                                           for(var m=0; m<response['u'].length; m++){
                                               div.append('<div style="width:30px; float:right;padding:0px; height:30px; display:inline-block; background: url('+response['u'][m].img+') center no-repeat; background-size: 80%;"></div>');                                                                    
                                           }                                
									   }
		                         });	                            								 
							 } 
						  }						               
					 } 
                  }                       
               }				  
               $("ul").children("button").remove();			
			   bigbutton = $('<button>Add Task</button>');  
               bigbutton.appendTo("ul");   
               var secdivs = $("ul").children("li").children("div:nth-child(2)");
               $(secdivs).children("button").remove();
               button = $('<button class="sub"></button>');
               button.appendTo(secdivs);
			}	       
	    });
        // 
	    function handlesortstop(event, tmp, posx, posy) {
			$("ul").children("button").remove();			
			bigbutton = $('<button>Add Task</button>'); 
            bigbutton.appendTo("ul");           		
			//console.log($("#placeholder").children("ul").last());
			//console.log(tmp); 
            if(($("#placeholder").children("ul").last().children("li").length==1)){				
				var ul2 =  $('<ul class="connectedlist main"></ul>');
				ul2.appendTo("#placeholder");
				var bigbutton2 = $('<button>Add Task</button>');
				bigbutton2.appendTo(ul2);
                var oldposx;
				var oldposy;
				ul2.sortable({
					connectWith: ".connectedlist", tolerance: 'pointer'			
				}).disableSelection();  
				(ul2).bind( "sortstart", function(event, ui) {                 
                  oldposx = $(ui.item[0]).parent("ul").index();
			      oldposy = $(ui.item[0]).index();                		 
		        });					 
                ul2.bind( "sortstop", function(event, ui) {   
                   console.log("ui",$(ui.item[0]));	                
				   handlesortstop(event, $(ui.item[0]), oldposx, oldposy);				 
		        });		
			}	
            var thisul = tmp.parents("ul");
			var newposx = $(thisul).index();   
			var newposy =$(tmp).index();
            console.log("posx", posx, "posy", posy);   	 			
            console.log("newposx", newposx, "newposy", newposy);   	
            $.ajax({
                   type: 'POST',
                   url: '/task/ordertask',
                   data: {"oldposx":posx, "oldposy":posy, "newposx":newposx, "newposy":newposy},
                   error: function(response) {
                       console.log(response);
                       alert("err");
                   },
                   success: function(response) {
                       console.log("success!");
                   }
            }); 		
			//check successive empty uls (without lis)
			var ularray = $("#placeholder").children("ul");
			var alength = ularray.length;
            var index=-1;
			for(i = alength-1;i>=0;i--){
			    if($(ularray[i]).children("li").length==0)
				   index = i;
				else break;   
			}						
			if(index!=alength){			    
				for(j=alength-1;j>index;j--){
				   //console.log($(ularray[j]));
				   $(ularray[j]).remove();
				}   
			}
		};	
        $("#line1").bind( "sortstart", function(event, ui) {   
                //console.log("ui",$(ui.item[0]));	
                 oldposx = $(ui.item[0]).parent("ul").index();
			     oldposy = $(ui.item[0]).index(); 				 
                 //console.log("oldposx", oldposx, "oldposy", oldposy);   	
				 //handlesortstop(event, $(ui.item[0]), posx, posy);				 
		});					 
        $("#line1").bind( "sortstop", function(event, ui) {   
                 console.log("ui",$(ui.item[0]));	
                 //var posx = $(ui.item[0]).parent("ul").index();
			     //var posy = $(ui.item[0]).index(); 				 
                 //console.log("posx", oldposx, "posy", oldposy); 	
				 handlesortstop(event, $(ui.item[0]), oldposx, oldposy);				 
		});			 			
		$("#placeholder").on("click", "ul button", function(){ 
		    console.log($(this));
		    if($(this).parent("ul").parent("div").children("ul").children("li").hasClass('editing')){
			    tmp.removeClass('editing').prepend('<span>New Task</span>');//val()拿字	
				tmp.children("input").remove();   
			}
            var thisul = $(this).parent("ul");	
		    bigbutton = $('<button>Add Task</button>');
		    button = $('<button class="sub"></button>');
			ul = $('<ul class="connectedlist main"></ul>'); // 
            tmp = $('<li><div><input type="text" maxlength=11 value="New Task"></div></li>'); 		// 
			div = $('<div></div>');	
            triangle = $('<button class="triangle"></button>');	   			
		    tmp.addClass('editing').appendTo($(this).parent("ul")); //display inline
            //div.appendTo('#line1');			
			//console.log(tmp);
            tmp.children("div").children("input").trigger('focus').keydown(function (event) {
               if (event.which == 13) {
                 event.preventDefault();
                 tmp.children("div").children("input").trigger('blur');
               }
            }).blur(function() {  //?
			    console.log(tmp);
                //tmp.removeClass('editing');
				//console.log(tmp);
				tmp.removeClass('editing').children("div:nth-child(1)").prepend('<span>' + tmp.children("div").children("input").attr('value') + "</span>");
                
				var posx = $(thisul).index();                
				var posy = $(tmp).index();		
                var savetask = $(tmp.children("div:nth-child(1)").children("input")).val();
				console.log({"taskname": savetask, "posx":posx, "posy":posy});
                $.ajax({
                   type: 'POST',
                   url: '/task/savetask',
                   data: {"taskname": savetask, "posx":posx, "posy":posy},
                   error: function(response) {
                       console.log(response);
                       alert("err");
                   },
                   success: function(response) {
					   console.log(response);
                       console.log("success!");
                   }
                }); 
                tmp.children("div:nth-child(1)").children("input").remove();
				//console.log(tmp);
            });       
            triangle.appendTo(tmp.children("div:nth-child(1)"));
            triangle.hide();	 			
            button.appendTo(div);
            div.appendTo(tmp);	
			div.hide();		
            rename = $('<button class="rename"></button>');	
			del = $('<button class="delete"></button>');
			finish = $('<button class="finish"></button>');
			open = $('<button class="open"></button>');
            var div2 = $('<div class="group" style="position:absolute; padding:4px; height:auto; width:auto; top:-41px; left:205px;"></div>');
            div2.appendTo(tmp.children("div:nth-child(1)")).hide();		    	
		    rename.appendTo(div2);	
			del.appendTo(div2);	
			finish.appendTo(div2);	
			open.appendTo(div2);             

			/*rename.appendTo(tmp.children("div:nth-child(1)")).hide();
			del.appendTo(tmp.children("div:nth-child(1)")).hide();
			finish.appendTo(tmp.children("div:nth-child(1)")).hide();
			open.appendTo(tmp.children("div:nth-child(1)")).hide();*/			
            $(this).appendTo($(this).parent("ul"));
			console.log($(this).parent("ul").children("li").length);
			//if($(this).parent("ul").children("li").length==1){	
            if(($(this).parent("ul").children("li").length==1)&&($("#placeholder").children("ul").last().children("li").length==1)){			
			  console.log($(this).parent("ul").has("li").length);
			  console.log($("#placeholder").last().length);
              ul.appendTo("#placeholder");
              bigbutton.appendTo(ul);
              ul.sortable({
			     connectWith: ".connectedlist", tolerance: 'pointer'			
		      }).disableSelection();              
              var oldposx;
			  var oldposy; 
              ul.bind( "sortstart", function(event, ui) {   
                 //console.log("ui",$(ui.item[0]));	
                 oldposx = $(ui.item[0]).parent("ul").index();
			     oldposy = $(ui.item[0]).index(); 				 
                 //console.log("oldposx", oldposx, "oldposy", oldposy);   	
				 //handlesortstop(event, $(ui.item[0]), posx, posy);				 
		      });					 
              ul.bind( "sortstop", function(event, ui) {   
                 console.log("ui",$(ui.item[0]));	
                 //var posx = $(ui.item[0]).parent("ul").index();
			     //var posy = $(ui.item[0]).index(); 				 
                 //console.log("posx", oldposx, "posy", oldposy); 	
				 handlesortstop(event, $(ui.item[0]), oldposx, oldposy);				 
		      });	
            }                		
	    });	
		// new!!
		$("#placeholder").on("hover", "ul>li>div:nth-child(1)", function(event){		    
			$(this).children(".triangle").show();
			event.preventDefault();						
		});		
		$("#placeholder").on("mouseleave","ul>li>div:nth-child(1)", function(event){
		    //$(this).children("button").hide();   
            $(this).children(".triangle").hide();			
            $(this).children("div").hide();
			event.stopPropagation();
		});			
		$("#placeholder").on("click","ul>li>div:nth-child(1) .triangle", function(event){		    
			//$(this).parent("div").children("div").children("button").show();
            $(this).parent("div").children("div").show();
            //console.log($(this).parent("div").children("div").children("button"));			
			event.stopPropagation();
		});	
		$("#placeholder").on("click","ul>li>div:nth-child(1)>div> .rename", function(event){		   
            console.log($(this)); 
			var input2 = $(this).parents("#placeholder").find("div:nth-child(1)").children("input");
			input2.parents("li").removeClass("editing").children("div:nth-child(1)").prepend('<span>'+input2.attr('value')+'</span>');
			input2.remove();	
            var thisul = $(this).parents("ul");	
            var thisli = $(this).parents("li");	
            var input3 = $(this).parents("#placeholder").find("div:nth-child(2)").children("li").children("input");			
			input3.parent("li").removeClass("altering").prepend('<span>'+input3.attr('value')+'</span>');
			input3.remove();						
			   parentli = $(this).parents("li");
			   parentdiv = $(this).parent("div").parent("div");
			   input = $('<input type="text" maxlength=11 value="' + $(this).parent("div").siblings("span").html()+'">');                  
			   input.prependTo(parentdiv).addClass('editing'); 	
               parentdiv.children("span").remove();
               console.log(parentdiv.children("input"))			   
			   parentdiv.children("input").trigger('focus').keydown(function (event) {
                 if (event.which == 13) {
                 event.preventDefault();
                 parentdiv.children("input").trigger('blur');
                 }
               }).blur(function() {  //?			                  
			     parentli.removeClass('editing');
				 parentdiv.prepend('<span>' + parentdiv.children("input").attr('value') + '</span>');//val()拿字 
                 var posx = thisul.index();
                 var posy = thisli.index();
                 var renametask = $(this).siblings("span").text();
                 $.ajax({
                   type: 'POST',
                   url: '/task/renametask',
                   data: {"taskname":renametask, "posx":posx, "posy":posy},
                   error: function(response) {
                       console.log(response);
                       alert("err");
                   },
                   success: function(response) {
                       console.log("success!");
                   }
                });                             
                 if(parentli.hasClass("presenting"))
                    parentli.children('span').addClass("showing"); 				 
			     parentdiv.children("input").remove();				
               });                      							
			event.stopPropagation();
		});
        $("#placeholder").on("click","ul>li>div:nth-child(1)>div> .delete", function(event){		 
            var posx = $(this).parents("ul").index();
            var posy = $(this).parents("li").index();
            $.ajax({
                   type: 'POST',
                   url: '/task/deletetask',
                   data: {"posx":posx, "posy":posy},
                   error: function(response) {
                       console.log(response);
                       alert("err");
                   },
                   success: function(response) {
                       console.log("success!");
                   }
                });            
			$(this).parents("li").remove();	
            //delete consecutive empty uls from the last ul
            var ularray = $("#placeholder").children("ul");
			var alength = ularray.length;
            var index=-1;		
			for(i = alength-1;i>=0;i--){
			    if($(ularray[i]).children("li").length==0)
				   index = i;
				else break;   
			}					
			if(index!=alength){
			    for(j=alength-1;j>index;j--){				   
				   $(ularray[j]).remove();
				}   
			}				 	
			event.stopPropagation();
		});	
        $("#placeholder").on("click","ul>li>div:nth-child(1)>div> .finish", function(event){	
            console.log("finish");	    
            var posx = $(this).parents("ul").index();
            var posy = $(this).parents("li").index();
			//$(this).parents("li").addClass("done");
            if(!$(this).parent("div").siblings("span").hasClass("done")){
		        $(this).parent("div").siblings("span").addClass("done"); 
		        $(this).addClass("done");  
                var yn = "y";          
		        $.ajax({
		               type: 'POST',
		               url: '/task/donetask',
		               data: {"posx":posx, "posy":posy, "yn":yn},
		               error: function(response) {
		                   console.log(response);
		                   alert("err");
		               },
		               success: function(response) {
		                   //$(this).parents("li").attr("done", response.done); 
		                   console.log(response);
		                   console.log("success!");
		               }
		            });   
              }
              else if($(this).parent("div").siblings("span").hasClass("done")){
		        $(this).parent("div").siblings("span").removeClass("done"); 
		        $(this).removeClass("done");    
                var yn = "n";          
		        $.ajax({
		               type: 'POST',
		               url: '/task/donetask',
		               data: {"posx":posx, "posy":posy, "yn":yn},
		               error: function(response) {
		                   console.log(response);
		                   alert("err");
		               },
		               success: function(response) {
		                   //$(this).parents("li").attr("done", response.done); 
		                   console.log(response);
		                   console.log("success!");
		               }
		            });   
              }         			
			  event.stopPropagation();
		});	
        $("#placeholder").on("click","ul>li>div:nth-child(1)>div> .open", function(event){	
                    // add Big card!!!!
                  if ($("#projectName span").attr("pid") != -1) {
                    var posx = $(this).parents("ul").index();
                    var posy = $(this).parents("div").parent("li").index();
                    doBlockingStart();
                    $.ajax({
                      type: 'POST',
                      url: '/subtask/bigCard',
                      data: {"x": posx, "y": posy},
                      error: function(response) {
                        console.log(response);
                        doBlockingEnd();
                        alert("err");
                      },
                      success: function(response) {
                        $(".bigCard").remove();
                        $("#mainCanvas").remove();
                        $("#taskBigCardPlace").empty().hide().append(response);
                        doBlockingEnd();
                      }
                    });
                  }
		    event.stopPropagation();
		});	  		
		//			
			  
        var subtask ;			
		$("#placeholder").on("click", "ul>li>div:nth-child(1)", function(){             
			var temp = $(this).parent("li").children("div:nth-child(2)");
			console.log(temp);
			if(!temp.hasClass('showing')){
			   $(this).addClass('showing');
               temp.addClass('showing');
			   temp.slideDown('normal');	
               $(this).parent("li").addClass('presenting');	
               //$(this).addClass('showing');			   
            }			   
			else if(temp.hasClass('showing')){
			   $(this).removeClass('showing');
			   temp.removeClass('showing');
			   temp.slideUp('normal');	 
			   $(this).parent("li").removeClass('presenting');	               			   
			}			
		});		
		$("#placeholder").on("click","ul div:nth-child(2) .sub", function(event){		    
            console.log("whyhere...");
		    if($(this).parents("#placeholder").find("div:nth-child(2)").children("li").hasClass('altering')){
			    console.log($(this).parents("#placeholder").find("div:nth-child(2)").children("li"));
			    subtask.removeClass('altering').prepend('<span>New Subtask</span>');//val()拿字	
				subtask.children("input").remove();   
			}
            var thisul = $(this).parents("ul");
            var thisli = $(this).parents("li");	
			subtask = $('<li><input type="text" maxlength=20 value="New Subtask"></li>')						
			subtask.addClass('altering').appendTo($(this).parent("div"));//append to subtaskul .children("ul")
			subtask.children("input").trigger('focus').keydown(function (event) {
               if (event.which == 13) {
                 event.preventDefault();
                 subtask.children("input").trigger('blur');
               }
            }).blur(function() {  
				subtask.removeClass('altering').prepend('<span>' + subtask.children("input").attr('value') + "</span>");	
                //var task = $(this).parents("li").children("div:nth-child(1)").val();                
                var posx = $(thisul).index();                
				var posy = $(thisli).index();		               
                var savesubtask = $(subtask.children("input")).val();
                $.ajax({
                   type: 'POST',
                   url: '/task/savesubtask',
                   data: {"subtaskname": savesubtask, "posx":posx, "posy":posy},
                   error: function(response) {
                       console.log(response);
                       alert("err");
                   },
                   success: function(response) {
                       subtask.attr("num", response.id);
                       console.log(response.id);	
                       console.log("success!");
                   }
                });         
                subtask.children("input").remove();				
			});	
            
            triangle = $('<button class="triangle"></button>');			
			rename = $('<button class="rename"></button>');	
			del = $('<button class="delete"></button>');
			finish = $('<button class="finish"></button>');			
			triangle.appendTo(subtask).hide();
            var div3=$('<div class="subgroup" style="position:absolute; height:auto;padding:3px; width:auto; top:-20px; left:216px;"></div>');	                               
            div3.appendTo(subtask).hide()
			rename.appendTo(div3);
			del.appendTo(div3);
			finish.appendTo(div3);					
			$(this).appendTo($(this).parent("div"));
			console.log(event);
			event.stopPropagation();
		});	

        //new!!!
        $("#placeholder").on("hover", "ul>li>div:nth-of-type(2)>li", function(event){		
            console.log("wt",$(this));		
			$(this).children(".triangle").show();
			event.preventDefault();						
		});		
		$("#placeholder").on("mouseleave","ul>li>div:nth-of-type(2)>li", function(event){
            console.log($(this));
		    $(this).children(".triangle").hide();   	
            $(this).children("div").hide(); 		
			event.stopPropagation();
		});			
		$("#placeholder").on("click","ul>li>div:nth-child(2) .triangle", function(event){		
            console.log("= =", $(this).parent("li").children(".subgroup"));    
            //console.log($(this).parent("li").children("div"));
			$(this).parent("li").children(".subgroup").show();			
			event.stopPropagation();
		});			
		$("#placeholder").on("click","ul>li>div:nth-child(2) .rename", function(event){		    			
			var input2 = $(this).parents("#placeholder").find("div:nth-child(1)").children("input");
			input2.parents("li").removeClass("editing").children("div:nth-child(1)").prepend('<span>'+input2.attr('value')+'</span>');
			input2.remove();	
            
            var input3 = $(this).parents("#placeholder").find("div:nth-child(2)").children("li").children("input");			
			input3.parent("li").removeClass("altering").prepend('<span>'+input3.attr('value')+'</span>');
			input3.remove();	
			var thisul = $(this).parents("ul");
            var thisli = $(this).parents("div").parent("li");            
			parentli = $(this).parent("div").parent("li");
			input = $('<input type="text" maxlength=20 value="' + $(this).parent("div").siblings("span").html()+'">'); 	
            
            var subtaskid = $(this).parent("div").parent("li").attr("num");
		    parentli.addClass('altering'); 
		    input.prependTo(parentli);	
            parentli.children("span").remove();
		    parentli.children("input").trigger('focus').keydown(function (event) {                 
				 if (event.which == 13) {
                 event.preventDefault();
                 parentli.children("input").trigger('blur');
                 }
             }).blur(function() {  //?
			     //console.log(tmp);               
			     parentli.removeClass('altering').prepend('<span>' + parentli.children("input").attr('value') + "</span>");//val()拿字	
                 var posx = $(thisul).index();                
				 var posy = $(thisli).index();
                 var newname = $(this).siblings("span").html();
				 //$(this).siblings("span").text(); //num: subtaskid
                 console.log("num", subtaskid);
                 $.ajax({
                   type: 'POST',
                   url: '/task/renamesubtask',
                   data: {"subtaskname": newname, "subtaskid":subtaskid, "posx":posx, "posy":posy},
                   error: function(response) {
                       console.log(response);
                       alert("err");
                   },
                   success: function(response) {
                       console.log(response);
                       console.log("success!");
                   }
                });         
			    parentli.children("input").remove();				
             });			 							
			event.stopPropagation();
		});
        $("#placeholder").on("click","ul>li>div:nth-child(2) .delete", function(event){	   
            var posx = $(this).parents("ul").index();
            var posy = $(this).parents("div").parent("li").parent("li").index();
            var subtask = $(this).parent("div").parent("li").attr("num");//$(this).siblings("span").text();  
            console.log("hey!!!!"); 
            console.log("num",$(this).parent("div").parent("li").attr("num"));
            console.log(posx, posy);
            $.ajax({
                   type: 'POST',
                   url: '/task/deletesubtask',
                   data: {"subtaskname": subtask, "posx":posx, "posy":posy},
                   error: function(response) {
                       console.log(response);
                       alert("err");
                   },
                   success: function(response) {
                       console.log("success!");
                   }
                });            
			//$(this).parents("li").remove();		
			//event.stopPropagation();	    
			$(this).parent("div").parent("li").remove();		
			event.stopPropagation();
		});	
        $("#placeholder").on("click","ul>li>div:nth-child(2) .finish", function(event){		
            //console.log("subfinish");  
            var posx = $(this).parents("ul").index();
            var posy = $(this).parent("div").parent("li").parents("li").index();
            var subtask = $(this).parent("div").parent("li").attr("num");//$(this).siblings("span").text();    
            if(!$(this).parent("div").parent("li").hasClass("subdone")){
				$(this).parent("div").parent("li").addClass("subdone");		
		        $(this).addClass("subdone");            
		        //console.log("hey!!!!"); 
		        //console.log("num",$(this).parent("div").parent("li").attr("num"));      
                var yn = "y";  
		        $.ajax({
		               type: 'POST',
		               url: '/task/donesubtask',
		               data: {"subtaskname": subtask, "posx":posx, "posy":posy, "yn":yn},
		               error: function(response) {
		                   console.log(response);
		                   alert("err");
		               },
		               success: function(response) {
		                   //$(this).parent("div").parent("li").attr("done", response.done); 
		                   console.log(response);
		                   console.log("success!");
		               }
		            });   
            }    
            else if($(this).parent("div").parent("li").hasClass("subdone")){
				$(this).parent("div").parent("li").removeClass("subdone");		
		        $(this).removeClass("subdone");            		          
                var yn = "n";  
		        $.ajax({
		               type: 'POST',
		               url: '/task/donesubtask',
		               data: {"subtaskname": subtask, "posx":posx, "posy":posy, "yn":yn},
		               error: function(response) {
		                   console.log(response);
		                   alert("err");
		               },
		               success: function(response) {
		                   //$(this).parent("div").parent("li").attr("done", response.done); 
		                   console.log(response);
		                   console.log("success!");
		               }
		            });   
            }         		     		
			event.stopPropagation();
		});	
        //          
        $("#placeholder").on("hover","li li span", function(event){
            console.log($(this).parent("li").children("div"));
            console.log("SHOW PIC",$(this).parent("li").children("div:nth-child(2)"));
		    $(this).parent("li").children("div:nth-child(2)").show();			 			
		});	
        $("#placeholder").on("mouseleave","li li span", function(event){
			$(this).parent("li").children("div:nth-child(1)").hide();			
			//event.stopPropagation();
		});
        //	 
        $("#placeholder").on("click","li li span", function(event){
		    //"show small card!!!";
                    if ($(this).parent().attr("num")) {
                      doBlockingStart();
                      $.ajax({
                        type: 'POST',
                        url: '/subtask/card',
                        data: {"id": $(this).parent().attr("num")},
                        error: function(response) {
                          console.log(response);
                          doBlockingEnd();
                          alert("err");
                        },
                        success: function(response) {
                          $(".smallCard").remove();
                          $("#card").remove();
                          //$(".ui-datepicker").remove();
                          $("#taskSmallCardPlace").empty().hide().append(response);
                          $("#card").bind("dialogclose", function(event) {
                            if ($("#card").attr("dirty") == 0) {
                              return;
                            }
                            $.ajax({
                              type: 'POST',
                              url: '/task/subuser',
			      data: {"subid":$("#card").attr("subid")},
			      error: function(response) {
			        console.log(response);
			        alert("err");
			      },
			      success: function(response) {
                                console.log(response);  
                                var subb = $("[num="+response['s'].id+"]");
                                var div = $('<div class="img"  style="height:auto; right:120px;padding:0px; width:auto; top:4px; background:white; position:absolute;"></div>');
                                subb.children(".triangle").siblings('.img').remove();
                                subb.children(".triangle").before(div); 
                                div.hide(); 
                                for(var m=0; m<response['u'].length; m++){
                                  div.append('<div style="width:30px; float:right;padding:0px; height:30px; display:inline-block; background: url('+response['u'][m].img+') center no-repeat; background-size: 80%;"></div>');
                                }
			      }
                            });
                          });
                          doBlockingEnd();
                        }
                      });
                    }
		    event.stopPropagation();
		});
});

