#helpage {
	height:600px;
}

#helpage h1{
	font-size:24px;
	color:#FEDA55;
	background:rgba(149,128,50,0.4);
	padding:4px;
	padding-left:33px;
	border-radius:4px;
	box-shadow:0px 0px 4px #888888;
}

#helpage h2{
	font-size:20px;
	background:rgba(255,155,5,0.3);
}

#helpage h3{
	font-size:15px;	
	background:rgba(0,155,5,0.3);
}

#helpage p{
	font-size:10px;
	// background:black;
	color:white;
}