// .ui-dialog .ui-dialog-titlebar{
// 	padding-left:-5px;
// }


.inviteCard{
	box-shadow: 0 2px 2px rgba(0,0,0,.4);
	width:400px;
	height:200px;
	.ui-dialog-titlebar{
		background:transparent;
		border:0px;
		font-family: 'Comfortaa', sans-serif;
		font-size:27px;
		color:#63501E;		
		padding-left:16px;
	}

}

.text{
	font-size:23px;
	color:#5D6336;
}

.mempic{
	width:20px;
	height:20px;
	background:red;
}
.inviteCard input{
	border:1px solid gray;
  	color:#3C3B37;
  	border-radius:5px;
	outline: none;
	height:20px;
	width:309px;
	// padding-top:
	margin-top:9px;
	margin-bottom:12px;
}


#inviteb{
	font-size:20px;
	background:#B1DCF4;
	color:#3D7797;
	border-radius:10px;
	box-shadow: 0 2px 2px rgba(0,0,0,.4);
	width:70px;
	height:25px;
	line-height:0px;
}

#inviteb:active{
	box-shadow: 0 -1px 1px rgba(0,0,0,.4);
}

.members{
	background:white;
	img{
		height:50px;
		width:50px;
		display:inline-block;
		margin:7px -1px 2px 6px;		
	}
}
