#placeholder {
  /*width: 70%;
  height: 100%;*/
  overflow:hidden;
  padding-left:15%;
  padding-right:15%;
  /*position: relative;*/
  background-color: transparent;
}

/* =============== */
/* ul lists styles */
/* =============== */

.main {
  width: 200px;
  margin-left: 2%;  
  padding-top: 50px;  
  text-shadow: 0 -1px 1px black;
  z-index: 1;
  background-color: transparent;
  text-align:center;
  display: inline-block;  
  vertical-align: top	
}
.main > li {
  /*display:inline;*/
  color: #E9D77B;
  text-shadow:0px 1px #CFC474;  
  background: transparent; 
  padding-top:5px;
  margin-bottom:20px;
  /*min-height:50px;*/
  width:200px;
  /*padding:15px;
  padding: 10px;
  line-height: 70px; */   
}

.main > li.presenting {
  /*display:inline;*/
  color: #A08E37;
  text-shadow:0px 1px #CFC474;  
  background: #ECCD88;
  padding-top:5px;
  /*min-height:50px;*/
  width:200px;
  margin-bottom:50px;
  /*padding:15px;
  padding: 10px;
  line-height: 70px; */   
}

/*.main h3{
  width:352px;
}*/

.main div{
  padding-top:15px;
  width:200px;  
  background:#ECCD88; /*#FEFFFE;*/  
}

.main div.showing{
  padding-top:15px;
  width:200px;
  
  background:#ECCD88; /*#FEFFFE;*/  
}

/*.main li a{
  width:270px;
}*/

.main > li.editing input{
  color: #542600;
  border: transparent;
  background: #FEFFFE;
  width:190px;  
  font-size:30px;
  text-align:center;
}

/*.main li.showing{  
  color: #A08E37;
  border: transparent;
  background:#ECCD88;
  width:300px;
  font-size:30px;
  text-align:center;  
}*/

.main > li.showing input{
  background: #ECCD88;
  border: transparent; 
  width:190px;  
  font-size:30px;
  text-align:center;
}

.main > li input{
  color: #E4D879;
  border: transparent;
  background: transparent;
  width:190px;
  font-size:30px;
  text-align:center;
}

.main > li span{
  color: #E4D879;
  border: transparent;
  background: transparent;
  width:200px;
  font-size:30px;
  text-align:center;
  font-weight: bold;
}

.main > li span:hover{
  color: #A08E37;
  border: transparent;
  background: #E0C68A;
  width:200px;
  font-size:30px;
  text-align:center;
  font-weight: bold;
}

.main > li span.showing{
  color: #A08E37;
  border: transparent;
  background:#ECCD88;
  width:200px;
  font-size:30px;
  text-align:center;
  font-weight: bold;
}

.main div button{  
  margin:0;
  padding:8px;
  color: #FDF9C1;
  border: transparent;
  background: #ECCD88;
  font-size:10px;
  width:200px;  
  float: right;
  text-align:right;
  padding-right:10px;
}

.main li div li span{
  font-weight:normal;
  color: #B19643;
  border: transparent;
  background: #ECCD88;
  font-size:15px;
  width:200px;
  height:28px;
  padding:2px;
  text-align:right;
  line-height:30px;
}

.main div li{
  color: #B89F3B;
  border: transparent;
  background: #ECCD88;
  font-size:10px;
  width:195px;
  height:30px;
  padding-top:5px;
  padding-right:5px;  
  text-align:right;
  vertical-align:top;
}
.main div > li.altering input{
  color: yellow;
  border: transparent;
  background: #ECCD88;
  font-size:15px;
  width:190px;
  height:28px;
  padding:2px;
  text-align:right;
}

.main div li span:hover{
  color: #A18536;  
  font-size:15px;
  width:200px;
  height:28px;
  padding:2px;
  line-height:30px;
}

.main div li span:active{
  background: #F9F3E2;  
  font-size:15px;
  width:200px;
  height:28px;
  padding:2px;
  line-height:30px;
}

/*#addButton{*/
.main > button{    
  width: 60px;
  height: 30px;
  padding: 0;    
  background:transparent;
  border: 0;
  color: #8C7452;  
  padding-top:12px;
  padding-bottom:40px; 
}

/* ======================================== */
/* functional styles required by Javascript */
/* ======================================== */

/*ul.main li input {
  display: none;
  width: 100%;
  height: 70px;
  border: 0;
  padding: 0;
  color: black;
  background: transparent;
  line-height: 2.5em;
  font-size: 1em;
  line-height: 2.5em;
}
ul.main li input:focus {  
  outline: 0;
}
ul.main li.editing {
  background-color: yellow;  
}

ul.main li li.editing {
  background-color: yellow;  
}

ul.main li li {
  background-color: #E1C179; 
  color = black;  
}

ul.main ul.hidden {
  display: none;
}

#placeholder div ul li.hidden{
  color : transparent;
  background:transparent;
  display: none;
}

#placeholder div ul.hidden{
  color : transparent;
  background:transparent;
  display: none;
}

#placeholder div button.hidden{
  color : transparent;
  background:transparent;
  display: none;
}

.main li.editing input {
  display: block;
  color: #542600;
}

.main li ul li.editing input{
  display: block;
  color: #542600;
}

.main li ul li{
  background-color: #E1C179;   
  color: black;
}

.main a.editing input{
  color: yellow;
  background-color: #E1C179; 
}

.main a{
  color: black;
  background-color: #E1C179; 
}

.main a input{
  color: black;
  background-color: #E1C179; 
}

.main a value{
  color: black;
  background-color: #E1C179; 
}

.main li.editing .text {
  display: none;
}

#placeholder li {
	background: rgba(255, 0, 0, 0.3);
}*/
