#sddaysArea input, #card textarea {
  font-size: 14px;
  background: rgba(255, 255, 255, 0.3);
}

.mem, .deleteMem {
  width: 50px;
  height: 50px;
}

.mem {
  /*background: rgba(255, 0, 0, 0.5);*/
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.mem:hover .deleteMem {
  visibility: visible;
}

.deleteMem {
  background: rgba(255, 255, 255, 0.5);
  visibility: hidden;
  position: absolute;
  cursor: pointer;
}

.deleteMem div {
  background: rgba(255, 0, 0, 0.8);
  width: 25px;
  height: 5px;
  position: relative;
  top: 22px;
  left: 13px;
}

.comment * {
  display: inline-block;  
}

#card {
  width: 320px;
  height: 360px;
  overflow: auto;
  background: rgba(248, 242, 218, 1);
}

#card textarea {
  resize: none;
  width: 188px;
}

#discription textarea {
  border: none;
}

#sddaysArea input {
  width: 86px;
  height: 16px;
  border: none;
  outline: none;
}

#memArea > div, #mems > div {
  display: inline-block;
  vertical-align: top;
}

#memInfo {
  width: 65px;
}

#userList {
  position: absolute;
  /*visibility: hidden;*/
  margin-top: 5px;
}

#userList > div {
  margin-left: 5px;
  display: inline-block;
}

#mems > div {
  margin-left: 5px;
}

#addMemButton {
  margin-left: 41px;
  width: 15px;
  height: 15px;
  background: rgba(233, 225, 158, 1);
  box-shadow: 0px 1px 2px 0px rgba(32, 32, 32, 1);
}

#addMemButton:hover {
  cursor: pointer;
}

#addMemButton:active {
  box-shadow: 0px 0px 1px 0px rgba(32, 32, 32, 1);
}


#addMemButton span {
  position: relative;
  top: -4px;
  left: 0px;
  color: red;
}

/*dialog style*/

.smallCard .ui-dialog-titlebar {
  background: rgb(248, 242, 218);
  border: 0px;
}

.smallCard .ui-dialog-title {
  color: rgb(100, 52, 3);
}

